<!-- Footer -->
<footer class="footer bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <!-- About Us Section -->
      <div class="col-md-4">
        <h5 class="fw-bold">About Us</h5>
        <p>
          El-ethaad - ownar Mr.Mohamed Fathy. Fitihy Cafe offers a cozy
          environment with delicious beverages and snacks to enjoy. Our goal is
          to serve you the best quality drinks and make you feel at home!
        </p>
      </div>

      <!-- Quick Links Section -->
      <div class="col-md-4">
        <h5 class="fw-bold">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="home" class="text-white">Home</a></li>
          <li><a routerLink="drink" class="text-white">Menu</a></li>
          <li><a routerLink="bills" class="text-white">bills</a></li>
          <li><a routerLink="orders" class="text-white">All orders</a></li>
          <li><a class="text-white">Contact</a></li>
          <li><a class="text-white">About Us</a></li>
        </ul>
      </div>

      <!-- Contact Section -->
      <div class="col-md-4">
        <h5 class="fw-bold">Contact Us</h5>
        <p><i class="fa fa-phone"></i> 01065793620</p>
        <p><i class="fa fa-envelope"></i> hassanshrafha8&#64;gmail.com</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center mt-3">
        <p>&copy; 2025 Fitihy Cafe - El-ethaad. All rights reserved.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <p>
      &copy; 2025 All Rights Reserved. Created by
      <span class="developer-name">Eng Hassan Elsherbiny</span>
    </p>
  </div>

  <!-- Optional: Add social media icons -->
  <div class="footer-social text-center py-3">
    <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
    <a
      href="https://www.linkedin.com/in/hassan-elsherbiny-6040a0168/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BmrpUS1XYQaqhlI8Dh7F1Qg%3D%3D"
      class="text-white me-3"
      ><i class="fab fa-linkedin"></i
    ></a>
  </div>
</footer>
