.person-icon{
    background-color: rgb(0, 0, 0);
    color: white !important ;
    padding: 25px;
    border-radius: 100%;
    transition: 1s;
}
.iteem-emp:hover .person-icon{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important ;
    border: rgb(255, 255, 255) 1px solid;
    
}
.iteem-emp{
    border: rgb(221, 221, 221) 2px solid;
    background-color: rgb(255, 255, 255);
}


