@if (dataCome) {
<div class="vh-100 d-flex align-items-center justify-content-center">
  <i class="fa-solid fa-circle-notch fa-spin fs-2 fw-bold spin-c"></i>
</div>
} @else {
<section class="p-4">
  <div class="container text-center shadow-sm rounded-3 p-3">
    <h1 class="fw-bold">YOUR DRINKS <i class="fa-solid fa-kitchen-set"></i></h1>
    <div class="d-flex justify-content-center">
      <!-- Center the button -->
      <button class="btn add-drink-btn fw-bold mt-2" routerLink="/adddrink">
        Add New Drink <i class="fa-solid fa-mug-hot"></i>
      </button>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Price Type Selector">
          <button
            class="btn btn-primary me-2"
            [ngClass]="{ active: selectedPriceType === 'regular' }"
            (click)="showRegularPrice()"
          >
            <i class="fa-solid fa-coins me-2"></i>Employee Price
          </button>
          <button
            class="btn btn-secondary me-2"
            [ngClass]="{ active: selectedPriceType === 'union' }"
            (click)="showUnionPrice()"
          >
            <i class="fa-solid fa-handshake me-2"></i>Union Price
          </button>
          <button
            class="btn btn-success"
            [ngClass]="{ active: selectedPriceType === 'dentistry' }"
            (click)="showDentistryPrice()"
          >
            <i class="fa-solid fa-tooth me-2"></i>Dentistry Price
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      @for (item of drinklist; track $index) {

      <div class="col-md-4 p-3">
        <div class="items bg-white rounded-3 p-3 shadow-sm text-center h-100">
          <p class="fs-3 fw-bold bg-black text-white p-1 rounded-3">
            {{ item.name }}
          </p>
          <p class="fs-3 fw-bold bg-black text-white p-1 rounded-3">
            {{ getPrice(item) }} EGP
          </p>
          <hr />
          <div
            class="d-flex gap-3 align-items-center justify-content-center botns"
          >
            <button
              class="btn btn-warning"
              [routerLink]="['/updatdrink', item._id]"
            >
              update
            </button>
            <button class="btn btn-danger" (click)="deletDrink(item._id)">
              remove
            </button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
<!-- Success Toast -->
<div
  #successToast
  class="toast align-items-center text-bg-success border-0"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="d-flex">
    <div class="toast-body">Drink deleted successfully!</div>
    <button
      type="button"
      class="btn-close btn-close-white me-2 m-auto"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
</div>

<!-- Error Toast -->
<div
  #errorToast
  class="toast align-items-center text-bg-danger border-0"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="d-flex">
    <div class="toast-body">Error deleting drink!</div>
    <button
      type="button"
      class="btn-close btn-close-white me-2 m-auto"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
</div>

}
