<section class="text-center ">
    <div class="container w-50 bord mt-4 rounded-3 shadow-lg   bg-primary">
  
        
  
        <form  [formGroup]="UpdateUserPass" (ngSubmit)="submitUp()">
  
            <h1 class="text-white fw-bold p-3 mb-5">
              Updat my password 
            </h1>
  
            
  
            <div class="form-floating mb-3">
                <input type="password" formControlName="currentPassword" class="form-control " id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">currentPassword</label>

                @if (UpdateUserPass.get('currentPassword')?.errors && UpdateUserPass.get('currentPassword')?.touched) {
                  <div class="p-0 m-0 alert alert-danger text-start text-black">
                    @if (UpdateUserPass.get('currentPassword')?.errors?.['required']) {
                      <p class="p-1 m-0 ps-2"> currentPassword is requierd  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                    }
                   @else if (UpdateUserPass.get('currentPassword')?.errors?.['pattern']) {
                    <p class="p-1 m-0 ps-2"> currentPassword must : A-Z a-z 0-9 min Characters 6  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                   }
                   </div>
                }

              </div>
  
              <!------------------------------------------------------------------------------------------>
            
              <div class="form-floating mb-3">
                <input type="password" formControlName="password" class="form-control " id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">password</label>

                @if (UpdateUserPass.get('password')?.errors && UpdateUserPass.get('password')?.touched) {
                  <div class="p-0 m-0 alert alert-danger text-start text-black">
                    @if (UpdateUserPass.get('password')?.errors?.['required']) {
                      <p class="p-1 m-0 ps-2"> password is requierd  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                    }
                   @else if (UpdateUserPass.get('password')?.errors?.['pattern']) {
                    <p class="p-1 m-0 ps-2"> password must : A-Z a-z 0-9 min Characters 6  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                   }
                   </div>
                }

              </div>
  
      <!------------------------------------------------------------------------------------------>


      <div class="form-floating mb-3">
        <input type="password" formControlName="passwordConfirm" class="form-control " id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">password comfirm</label>

        @if (UpdateUserPass.get('passwordConfirm')?.errors && UpdateUserPass.get('passwordConfirm')?.touched) {
          <div class="p-0 m-0 alert alert-danger text-start text-black">
            @if (UpdateUserPass.get('passwordConfirm')?.errors?.['required']) {
              <p class="p-1 m-0 ps-2"> passwordConfirm is requierd  <i class="fa-solid fa-triangle-exclamation"></i> </p>
            }
           @else if (UpdateUserPass.get('passwordConfirm')?.errors?.['missmatch']) {
              <p class="p-1 m-0 ps-2"> password not match  <i class="fa-solid fa-triangle-exclamation"></i> </p>
            }
           </div>
        }

      </div>



      <!------------------------------------------------------------------------------------------>
  
            
  
              <button [disabled]="UpdateUserPass.invalid"  class="btn btn-primary bg-black border-black fs-5 mt-3 mb-3 ps-4 pe-4 b-c" >
                 @if (spiner) {
                  <span> <i class="fa fa-spin fa-spinner"></i> </span>
                }
                  @else {
                    <span class="text-white"> Updat </span>
                  }
  
              </button>
                             
        </form>
  
  
    </div>
  </section>
  
