<section class="text-center ">
    <div class="container w-50 bord mt-4 rounded-3 shadow-lg   bg-primary">
  
        
  
        <form  [formGroup]="UpdateUserData" (ngSubmit)="submitUp()">
  
            <h1 class="text-white fw-bold p-3 mb-5">
              Updat my data 
            </h1>
  
            
  
            <div class="form-floating mb-3">
                <input type="" formControlName="name" class="form-control " id="floatingInput" >
                <label for="floatingInput"> name</label>
  
                @if (UpdateUserData.get('name')?.errors && UpdateUserData.get('name')?.touched) {
                  <div class="p-0 m-0 alert alert-danger text-start text-black">
                    @if (UpdateUserData.get('name')?.errors?.['required']) {
                      <p class="p-1 m-0 ps-2"> name is requierd  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                    }
                   </div>
                }
  
              </div>
  
              <!------------------------------------------------------------------------------------------>
            <div class="form-floating mb-3">
                <input type="" formControlName="email" class="form-control " id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">email</label>
  
                @if (UpdateUserData.get('email')?.errors && UpdateUserData.get('email')?.touched) {
                  <div class="p-0 m-0 alert alert-danger text-start text-black">
                    @if (UpdateUserData.get('email')?.errors?.['required']) {
                      <p class="p-1 m-0 ps-2"> email is requierd  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                    }
                    @else if (UpdateUserData.get('email')?.errors?.['email']) {
                        <p class="p-1 m-0 ps-2">  inter valid email  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                       }
                   
                   </div>
                }
  
              </div>
             
  
      <!------------------------------------------------------------------------------------------>
  
            
  
              <button [disabled]="UpdateUserData.invalid"  class="btn btn-primary bg-black border-black fs-5 mt-3 mb-3 ps-4 pe-4 b-c" >
                 @if (spiner) {
                  <span> <i class="fa fa-spin fa-spinner"></i> </span>
                }
                  @else {
                    <span class="text-white"> Updat </span>
                  }
  
              </button>
                             
        </form>
  
  
    </div>
  </section>
  