.cs-nav {
    background-color: rgb(255, 255, 255);
}

.pages {
    position: absolute;
    right: 25%;
}

.logo {
    position: absolute;
    left: 5%;
}

.ff {
    font-family: fantasy;
}

.RLAC {
    border: 1px rgb(0, 0, 0) solid;
    color: rgb(255, 255, 255) !important;
    background-color: black;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

/* Hover animation for links */
.nav-link:hover {
    color: #fff !important;
    background-color: #1c0b89;
    border-radius: 10px;
    padding: 4px 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1);
}

/* Additional hover underline animation */
.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 50%;
    background-color: black;
    transition: all 0.2s ease-in-out;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

/* Hover effect for logout */
.log-hover:hover {
    border: 1px rgb(187, 0, 0) solid;
    background-color: rgb(187, 0, 0);
    color: rgb(255, 255, 255) !important;
    box-shadow: 0px 4px 15px rgba(187, 0, 0, 0.5);
    transform: translateY(-3px);
}
