<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container">
    <a class="navbar-brand fs-2 fw-bold  cur" routerLink="home">El-ethaad Cafe</a>

    <div class="d-flex gap-3 align-items-center ">
      
      @if (inNav==false) {
        
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav gap-3 mx-auto ">
            <li class="nav-item ">
              <a class="nav-link active "  routerLink="home" routerLinkActive=" rounded-3 RLAC">Home</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link active"  routerLink="login" routerLinkActive=" rounded-3 RLAC">Login</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link active"  routerLink="signin" routerLinkActive=" rounded-3 RLAC">Sign up</a>
            </li>
          
      </ul>
    </div>
      }

    </div>
    <button
     class="navbar-toggler" 
     type="button"
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    @if( inNav == true){

      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav gap-4 mx-auto fs-5">
          
          <li class="nav-item">
            <a class="nav-link active hover " routerLink="employee" routerLinkActive=" rounded-3 RLAC">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active hover " routerLink="drink" routerLinkActive=" rounded-3 RLAC">Drinks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active hover " routerLink="order" routerLinkActive=" rounded-3 RLAC">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active hover " routerLink="bills" routerLinkActive=" rounded-3 RLAC">Bill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active hover " routerLink="orders" routerLinkActive=" rounded-3 RLAC">All Bill</a>
          </li>
        </ul>
      </div>

    }
   
  
    
    @if (inNav==true) {
      <div class="d-flex gap-3 align-items-center ps-2">
        <a
          class="nav-link cur fs-5 me-3 hover2 p-2"
          routerLink="/getme"
          routerLinkActive=" fs-4 fw-bold text-primary "
        >
          <i class="fa-solid fa-circle-user"></i
        ></a>
      <a  (click)="_LoginService.logout()"
       class="nav-link active cur hover3 p-2" aria-current="page" 
        routerLinkActive=" ">logOut</a>
    </div>
  }
      
  </div>
</nav>
