<section class="text-center">
  <div class="container w-50 mt-4 rounded-3 shadow-lg bg-white p-5">
    <form [formGroup]="addempForm" (ngSubmit)="submitadd()">
      <h1 class="text-black fw-bold mb-5">Add Employee</h1>

      <!-- Error Message Alert -->
      @if (errmsg) {
      <div class="alert alert-danger text-center mb-4">
        <span class="error-icon me-2"></span> Role is incorrect
      </div>
      }

      <!-- Name Input -->
      <div class="form-floating mb-4 position-relative">
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="nameInput"
          placeholder="Enter name"
        />
        <label for="nameInput">Name</label>
        @if (addempForm.get('name')?.errors && addempForm.get('name')?.touched)
        {
        <div class="error-tooltip">
          <span class="error-icon"></span> Name is required
        </div>
        }
      </div>

      <!-- Role Input -->
      <div class="form-floating mb-4 position-relative">
        <input
          type="text"
          formControlName="role"
          class="form-control"
          id="roleInput"
          placeholder="Enter role"
        />
        <label for="roleInput">Role</label>
        @if (addempForm.get('role')?.errors && addempForm.get('role')?.touched)
        {
        <div class="error-tooltip">
          <span class="error-icon"></span> Role is required
        </div>
        }
      </div>

      <!-- Submit Button -->
      <button
        [disabled]="addempForm.invalid"
        class="btn btn-primary btn-lg fs-6 px-5 py-2 mt-3"
      >
        @if (spiner) {
        <i class="fa fa-spinner fa-spin me-2"></i> Adding... } @else { Add }
      </button>
    </form>
  </div>
</section>
