<section class="text-center ">
    <div class="container w-50 bord mt-4 rounded-3 shadow-lg   bg-white">
  
        
  
        <form  [formGroup]="newPassForm" (ngSubmit)="submitNewPass()">
  
            <h1 class="text-black fw-bold p-3 mb-5">
                Confirm New Password :
            </h1>
  
            @if (errmsg) {
              <div class="alert alert-danger p-0 m-0 text-center mb-3">
                <p class="text-black p-1 m-0 "> please enter email and password valid <i class="fa-solid fa-triangle-exclamation"></i>  </p>
                    </div>}
  
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control " id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput"> email</label>
  
                @if (newPassForm.get('email')?.errors && newPassForm.get('email')?.touched) {
                  <div class="p-0 m-0 alert alert-danger text-start text-black">
                    @if (newPassForm.get('email')?.errors?.['required']) {
                      <p class="p-1 m-0 ps-2"> email is requierd  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                    }
                   @else if (newPassForm.get('email')?.errors?.['email']) {
                    <p class="p-1 m-0 ps-2">  inter valid email  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                   }
                   </div>
                }
  
              </div>
  
              <!------------------------------------------------------------------------------------------>
            <div class="form-floating mb-3">
                <input type="password" formControlName="newPassword" class="form-control " id="floatingInput" >
                <label for="floatingInput"> newPassword</label>
  
                @if (newPassForm.get('newPassword')?.errors && newPassForm.get('newPassword')?.touched) {
                  <div class="p-0 m-0 alert alert-danger text-start text-black">
                    @if (newPassForm.get('newPassword')?.errors?.['required']) {
                      <p class="p-1 m-0 ps-2"> newPassword is requierd  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                    }
                   @else if (newPassForm.get('newPassword')?.errors?.['pattern']) {
                    <p class="p-1 m-0 ps-2"> newPassword must : A-Z a-z 0-9 min Characters 6  <i class="fa-solid fa-triangle-exclamation"></i> </p>
                   }
                   </div>
                }
  
              </div>
             
  
      <!------------------------------------------------------------------------------------------>
  
            
  
              <button [disabled]="newPassForm.invalid"  class="btn btn-primary bg-black border-black fs-5 mt-3 mb-3 ps-4 pe-4 b-c" >
                 @if (spiner) {
                  <span> <i class="fa fa-spin fa-spinner"></i> </span>
                }
                  @else {
                    <span> new password </span>
                  }
  
              </button>
                             
                           
        </form>
  
  
    </div>
  </section>
  