<section class="container mt-5">
  <h1 class="text-center mb-4">Employee Orders</h1>
  <hr />
  @if (isLoading ) {
  <div class="spinner-container text-center">
    <div class="spinner-border text-primary spinner-size" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="spinner-text mt-3">Loading orders...</p>
  </div>

  } @if (!isLoading && orders.length === 0) {
  <div class="text-center">
    <p>No orders found.</p>
  </div>
  }@if (!isLoading && orders.length > 0) {
  <table class="table table-striped table-white">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (order of orders; track order.id) {
      <tr>
        <td>
          <a
            [routerLink]="['/orders', order.employeeName]"
            class="btn btn-link text-dark fw-bold employee-link"
          >
            {{ order.employeeName }}
          </a>
        </td>

        <td>{{ order.totalBillPrice }} EGP</td>
        <td>
          <span
            [class.text-success]="order.paid"
            [class.text-danger]="!order.paid"
          >
            {{ order.paid ? "Paid" : "Unpaid" }}
          </span>
        </td>
        <td>
          <button
            class="btn btn-success"
            [disabled]="order.isPaying || order.paid"
            (click)="payBill(order)"
          >
            @if (order.isPaying) {
            <span><i class="fa fa-spin fa-spinner"></i></span>} Pay
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="mt-5 text-center">
    <div
      class="card shadow-sm bg-light mx-auto"
      style="max-width: 600px; border-radius: 15px"
    >
      <div class="card-body">
        <h3 class="card-title text-dark fw-bold mb-3">
          All Bills For All Employees
        </h3>
        <h4 class="card-text text-dark">
          Total Revenue:
          <span class="text-success fw-bold">{{ finalTotal }} EGP</span>
        </h4>
      </div>
    </div>
  </div>
  }
</section>
