<section class="container mt-5">
  <h1 class="text-center mb-4">Employee Orders</h1>

  @if (isLoading) {
  <div class="text-center">
    <p>Loading orders...</p>
  </div>
  } @if (!isLoading && orders.length === 0) {
  <div class="text-center">
    <p>No orders found.</p>
  </div>
  } @if (!isLoading && orders.length > 0) {
  <table class="table table-striped table-white">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (order of orders; track order.id) {
      <tr>
        <td>{{ order.employeeName }}</td>
        <td>{{ order.totalPrice }} EGP</td>
        <td>
          <span
            [class.text-success]="order.paid"
            [class.text-danger]="!order.paid"
          >
            {{ order.paid ? "Paid" : "Unpaid" }}
          </span>
        </td>
        <td>
          <button
            class="btn btn-success"
            [disabled]="order.paid"
            (click)="payBill(order.employeeName)"
          >
            Pay
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</section>
