<section id="home" class="vh-100 position-relative d-flex align-items-center">
  <div class="container text-center items">
    <h1 class="display-4 ff fw-bold">Welcome To El-ethaad Cafe</h1>
    <p class="display-4 mt-3 fs-5">Fithiy Management Cafe</p>

    <div class="mt-4">
      <button
        class="btn btn-light btn-lg px-4 py-2 fw-bold text-dark hovrr"
        routerLink="/login"
      >
        Log In
      </button>
    </div>

    <div class="social-icons mt-5 d-flex justify-content-center gap-4">
      <a class="text-white fs-3"><i class="fa-brands fa-facebook"></i></a>
      <a class="text-white fs-3"><i class="fa-brands fa-twitter"></i></a>
      <a class="text-white fs-3"><i class="fa-brands fa-youtube"></i></a>
      <a class="text-white fs-3"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</section>
