@if (come == false) {
<section class="text-center">
  <div class="container w-50 mt-4 rounded-3 shadow-lg p-3 bg-color">
    <form [formGroup]="BillForm" (submit)="getBill()">
      <h1 class="text-white fw-bold p-3 mb-5">Employee Bill</h1>

      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="employeeName"
          class="form-control"
          id="floatingInput"
          placeholder=""
        />
        <label for="floatingInput">Employee Name</label>
        @if (BillForm.get('employeeName')?.errors &&
        BillForm.get('employeeName')?.touched) {
        <div class="alert alert-danger text-start text-black">
          @if (BillForm.get('employeeName')?.errors?.['required']) {
          <p class="p-1 m-0 ps-2">
            Employee Name is required
            <i class="fa-solid fa-triangle-exclamation"></i>
          </p>
          }
        </div>
        }
      </div>

      <div class="form-floating mb-3">
        <input
          type="date"
          formControlName="startDate"
          class="form-control"
          id="floatingInput"
          placeholder=""
        />
        <label for="floatingInput">Start Date</label>
        @if (BillForm.get('startDate')?.errors &&
        BillForm.get('startDate')?.touched) {
        <div class="alert alert-danger text-start text-black">
          @if (BillForm.get('startDate')?.errors?.['required']) {
          <p class="p-1 m-0 ps-2">
            Start Date is required
            <i class="fa-solid fa-triangle-exclamation"></i>
          </p>
          }
        </div>
        }
      </div>

      <div class="form-floating mb-5">
        <input
          type="date"
          formControlName="endDate"
          class="form-control"
          id="floatingInput"
          placeholder=""
        />
        <label for="floatingInput">End Date</label>
        @if (BillForm.get('endDate')?.errors &&
        BillForm.get('endDate')?.touched) {
        <div class="alert alert-danger text-start text-black">
          @if (BillForm.get('endDate')?.errors?.['required']) {
          <p class="p-1 m-0 ps-2">
            End Date is required
            <i class="fa-solid fa-triangle-exclamation"></i>
          </p>
          }
        </div>
        }
      </div>

      <button
        [disabled]="BillForm.invalid"
        class="btn btn-primary fs-5 mt-3 mb-3 ps-4 pe-4 b-c"
      >
        @if (spiner) {
        <span><i class="fa fa-spin fa-spinner"></i></span>
        } @else {
        <span>Get Bill</span>
        }
      </button>
    </form>
  </div>
</section>
}



@if (come) {
<section class="m-5">
  <div class="container bg-color rounded-3 p-4 text-white text-center">
    <h1>
      <span class="fw-bold text-white"
        >This bill is for {{ showone.employee }}</span
      >
    </h1>
    <p>
      Total: <span class="fw-bold text-white">{{ showone.totalBill }} EGP</span>
    </p>
    <p>
      Paid: <span class="fw-bold text-white">{{ showone.orders[0].paid }}</span>
    </p>

    @if (!showone.orders[0].paid) {
    <button class="btn btn-success mt-3" (click)="markAsPaid()">
      Pay Bill
    </button>
    }
  </div>
</section>
}

<!-- Toast Notification -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    class="toast align-items-center text-bg-success border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    #successToast
  >
    <div class="d-flex">
      <div class="toast-body">
        The bill has been marked as paid successfully!
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
