@if (!come) {
<section class="text-center">
  <div class="container billCard mt-4 rounded-3 shadow-lg p-3 bg-color">
    <form [formGroup]="BillForm" (submit)="getBill()">
      <h1 class="text-white fw-bold p-3 mb-5">Employee Bill</h1>

      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="employeeName"
          class="form-control"
          id="floatingInput"
          placeholder=""
        />
        <label for="floatingInput">Employee Name</label>

        <!-- Error Tooltip -->
        @if (BillForm.get('employeeName')?.errors &&
        BillForm.get('employeeName')?.touched){
        <div>
          <div class="error-tooltip">
            <i class="fa-solid fa-circle-exclamation me-2"></i>
            Employee Name is required
          </div>
        </div>
        }
      </div>

      <div class="form-floating mb-3">
        <input
          type="date"
          formControlName="startDate"
          class="form-control"
          id="floatingInput"
          placeholder="dd/mm/yyyy"
        />
        <label for="floatingInput">Start Date</label>
        @if (BillForm.get('startDate')?.errors &&
        BillForm.get('startDate')?.touched) {
        <div class="alert alert-danger text-start text-black">
          @if (BillForm.get('startDate')?.errors?.['required']) {
          <p class="p-1 m-0 ps-2">
            Start Date is required
            <i class="fa-solid fa-triangle-exclamation"></i>
          </p>
          }
        </div>
        }
      </div>

      <div class="form-floating mb-5">
        <input
          type="date"
          formControlName="endDate"
          class="form-control"
          id="floatingInput"
          placeholder="dd/mm/yyyy"
        />
        <label for="floatingInput">End Date</label>
        @if (BillForm.get('endDate')?.errors &&
        BillForm.get('endDate')?.touched) {
        <div class="alert alert-danger text-start text-black">
          @if (BillForm.get('endDate')?.errors?.['required']) {
          <p class="p-1 m-0 ps-2">
            End Date is required
            <i class="fa-solid fa-triangle-exclamation"></i>
          </p>
          }
        </div>
        }
      </div>

      <button
        [disabled]="BillForm.invalid"
        class="btn btn-primary fs-5 mt-3 mb-3 ps-4 pe-4 b-c"
      >
        @if (spiner) {
        <span><i class="fa fa-spin fa-spinner"></i></span>
        } @else {
        <span>Get Bill</span>
        }
      </button>
    </form>
  </div>
</section>
} @else {
<section class="m-5">
  <div class="container bg-light rounded-3 p-4 text-dark text-center">
    <h1 class="bill-header fw-bold text-dark mb-3">
      Bill For Mr. {{ employeeName }}
    </h1>
    <h2 class="date-header fw text-dark mb-4">
      Date: From {{ BillForm.value.startDate }} To {{ BillForm.value.endDate }}
    </h2>

    <!-- Bill Details Table -->
    <div class="table-responsive mt-4">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Drink Name</th>
            <th>Quantity</th>
            <th>Price per Unit</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          @for (drink of showOrders ; track $index) {
          <tr>
            <td>{{ drink.drinkId.name }}</td>
            <td>{{ drink.quantity }}</td>
            <td>{{ drink.price }} EGP</td>
            <td>{{ drink.quantity * drink.price }} EGP</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <!-- Total Bill Section -->
    <div class="d-flex justify-content-end mt-4">
      <div class="card text-bg-light col-12 col-md-6 p-3">
        <h5 class="text-end mb-3">Total Bill</h5>
        <div class="d-flex justify-content-between">
          <span class="fw-bold">Total Amount:</span>
          <span class="fw-bold text-success">{{ totalBills }} EGP</span>
        </div>
      </div>
    </div>

    <!-- Pay Bill Button -->
    @if (!showOrders[0].paid) {
    <button
      class="btn btn-success pay-btn mt-4 mb-3 d-flex align-items-center justify-content-center"
      [disabled]="showOrders[0].paid"
      [attr.title]="showOrders[0].paid ? 'The bill is already paid' : ''"
      (click)="payBill(employeeName)"
    >
      <i class="fa fa-credit-card me-2"></i>
      Pay Bill
    </button>
    }
    <button
      class="btn btn-info print-btn mt-4 mb-3 d-flex align-items-center justify-content-center"
      (click)="printBill()"
    >
      <i class="fa fa-print me-2"></i>
      <!-- Print Icon -->
      Print Bill
    </button>
  </div>
</section>
}

<!-- @if (come) {
<section class="m-5">
  <div class="container bg-color rounded-3 p-4 text-white text-center">
    <h1>
      <span class="fw-bold text-white"
        >This bill is for {{ showone.employee }}</span
      >
    </h1>
    <p>
      Total: <span class="fw-bold text-white">{{ showone.totalBill }} EGP</span>
    </p>
    <p>
      Paid: <span class="fw-bold text-white">{{ showone.orders[0].paid }}</span>
    </p>

    @if (!showone.orders[0].paid) {
    <button class="btn btn-success mt-3" (click)="markAsPaid()">
      Pay Bill
    </button>
    }
  </div>
</section>
} -->

<!-- Toast Notification -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    class="toast align-items-center text-bg-success border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    #successToast
  >
    <div class="d-flex">
      <div class="toast-body">
        The bill has been marked as paid successfully!
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
